<main class="div1">
    @await Html.PartialAsync("_Register")
    @await Html.PartialAsync("_login")
    <div class="banner">
        <h2>Welcome!</h2>
        <h1>Come Tour Life With Us!</h1>
    </div>
</main>