 <link rel="stylesheet" href="~/js/site.js">
<link rel="stylesheet" href="~/css/site.css">

@{
    ViewData["Title"] = "Home Page";
}

@model List<Destination>

<h1>List of Destinations for, @Context.Session.GetString("name")</h1>

@foreach (Destination des in Model)
{
    <div class="col">
        <div class="card">
            <p>@des.Location</p>
            <img src="@des.Image" alt="@des.Location">
            <p>$@des.Budget</p>
        </div>
         <button class="btn btn-secondary"><a href="/destinations/@des.DestinationId">View</a></button>
        <form action="/destinations/@des.DestinationId/delete" method="post">
          <button type="submit" onclick="deleteMessage()" class="btn btn-danger">Delete</button>
        </form>
    </div>

}