@model List<Destination>

<h1>List of Destinations</h1>

@foreach (Destination des in Model)
{
    <div class="col">
        <div class="card">
            <p>@des.Location</p>
            <img src="@des.Image" alt="@des.Location">
            <p>$@des.Budget</p>
            <p>@des.Comment</p>
        </div>
    </div>

}