@model List<Destination>

<form  action="/destination" method="post">
    @foreach (var res in Model)
    {
        <div>
            <h2>@res.Location</h2>
            <h4>$@res.Budget</h4>
            <img src="@res.Image" alt="@res.Location" />
             <button>Book</button>
        </div>
    }
</form >



